<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>

  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <% if (posts.length === 0) { %>
      <h4>Hello <%= user.username.toUpperCase() %>, you have no posts</h4>

      <% } else { %>

      <h4>Hello <%= user.username.toUpperCase() %>, here are you posts</h4>
      <% } %>

      <ul>
        <% posts.forEach( post => { %>
        <li>
          <a href="/post/<%= post.id %>"><%= post.title %></a> on <%= new
          Date(post.createdDate).getMonth() + 1 %>/<%= new
          Date(post.createdDate).getDate() %>/<%= new
          Date(post.createdDate).getFullYear() %>
        </li>

        <% } ) %>
      </ul>
    </main>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
